In [207]:
import pandas as pd

In [208]:
df=pd.read_csv("linear_regression_dataset.csv")

In [209]:
df

     AGE  FEMALE  LOS  RACE  TOTCHG  APRDRG
0     17       1    2   1.0    2660     560
1     17       0    2   1.0    1689     753
2     17       1    7   1.0   20060     930
3     17       1    1   1.0     736     758
4     17       1    1   1.0    1194     754
..   ...     ...  ...   ...     ...     ...
495    0       1    6   1.0    5881     636
496    0       1    2   1.0    1171     640
497    0       1    2   1.0    1171     640
498    0       1    2   1.0    1086     640
499    0       0    4   1.0    4931     640

[500 rows x 6 columns]

In [210]:
# check for null values in the dataset
df.isnull().sum()

AGE       0
FEMALE    0
LOS       0
RACE      1
TOTCHG    0
APRDRG    0
dtype: int64

In [211]:
#replacing the null value with the mean of that column
df=df.fillna(df.mean())

In [212]:
# normalzing the dataframe 
from sklearn.preprocessing import MinMaxScaler
min_max_scaler = MinMaxScaler()
df= pd.DataFrame(min_max_scaler.fit_transform(df), columns=df.columns)

In [213]:
from sklearn.preprocessing import normalize
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import numpy as np

In [214]:
from sklearn.model_selection import train_test_split

In [215]:
# defing the feature label (x) and the target label (y)
x=df.drop('TOTCHG',axis=1).values
y=df.TOTCHG

In [216]:
# introducing a bias term in 
x = np.insert(x,0,1,axis=1)

In [217]:
# checking for null values
df.isnull().sum().sum()

0

In [218]:
# 1. Split the Data into a training set and testing set
x, x_test, y, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [219]:
# the function for vector multiplication
def vec(x,theta):
    return np.dot(x,theta)

In [220]:
# the cost function:
def cost_fn( x, y, theta):
    m=len(y)
    error=vec(x,theta) -y
    cost=(1/(2*m))*np.sum(error**2)
    return cost

In [221]:
# function for gradient descent 
def gradient_descent(x,y,theta,alpha,num_iterations):
    m=len(y)
    costs=[]
    for _ in range(num_iterations):
        error=vec(x,theta)-y
        gradient=(1/m)* np.dot(x.T,error)
        theta=theta-alpha*gradient
        costs.append(cost_fn(x,y,theta))
    return theta,costs

In [222]:
# Initializing the parameters
theta=np.zeros(x.shape[1])
alpha=0.001
num_iterations=1000

# Training the model
theta, costs=gradient_descent(x,y,theta,alpha,num_iterations)

In [223]:
# predicing the values
prediction=np.dot(x_test,theta)

In [224]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,prediction)
mse

0.004117585404934324

In [225]:
# confirming the value predicted using implementation method with espect to result using inbuit functions


import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

X = df[['AGE', 'FEMALE', 'LOS', 'RACE', 'APRDRG']]
y = df['TOTCHG']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the linear regression model
model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)

print(f'Mean Squared Error: {mse}')

Mean Squared Error: 0.0020166673688609346